@import 'roles.css';
@import 'index-pages.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */

@layer base {
    html {
        font-family: 'Poppins', sans-serif;
    }
}

@layer components {
    .font-playfair {
        font-family: 'Playfair Display', serif;
    }
    .font-poppins {
        font-family: 'Poppins', sans-serif;
    }
}